broker.id={{ broker }}
delete.topic.enable=true
listeners=PLAINTEXT://0.0.0.0:9092
advertised.listeners=PLAINTEXT://{{ ansible_ssh_host }}:9092
host.name={{ inventory_hostname }}
advertised.host.name={{ inventory_hostname }}
num.network.threads=3
num.io.threads=9
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
log.dirs=/opt/kafka/logs
num.partitions=9
num.recovery.threads.per.data.dir=1
default.replication.factor=3
log.retention.hours=168
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000
zookeeper.connect={{ hostvars.zookeeper1.ansible_host }}:2181,{{ hostvars.zookeeper2.ansible_host }}:2181,{{ hostvars.zookeeper3.ansible_host }}:2181
zookeeper.connection.timeout.ms=12000
auto.create.topics.enable=false
unclean.leader.election.enable=false
